    /* Root */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

    /* background */

.main-background-container {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.background-green {
    width: 100%;
    height: 20%; 
    background-color: #009688;
}

.background-lightGrey {
    width: 100%; 
    height: 80%; 
    background-color: #DBDBD4;
}

    /* window */

.window-message {
    position: absolute;
    width: 80%;
    height: 95%;
    background-color: #FFFFFF;
    display: flex;
}

.message-people {
    width: 35%;
    height: 100%;
    border-right: 1px solid lightgray;
    background-color:#F3EEEA;
}

    /* profilo utente  */

.user-profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    padding: 0.5rem;
    height: 70px;
    width: 100%;
}

.img-container-profile {
    display: flex;
    align-items: center;
}

.img-profile {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-right: 5px;
}

.user-controls {
    color: lightgray;
    font-size: 1.5rem;
    margin: 0 .6rem;
}

    /* notifica desktop */

.blue-notifications {
    margin-top: .5rem;
    padding: 1.5rem 1rem;
    background-color: #8EDAFC;
    display: flex;
}

.mod-bell {
    font-size: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 100%;
    color: #8EDAFC;
}

.notification-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1rem;
}

.text-underline {
    text-decoration: underline;
    color: darkslategray;
    font-size: .8rem;
}

    /* trova contatti */

.search {
    padding: 0.2rem;
    display: flex;
    text-align: center;
}

.mod-search {
    width: 15%;
    box-shadow: 2px 2px 2px 2px lightgrey;
    color: lightgrey;
    font-size: 1.2rem;
    padding: .2rem;
}

.search input {
    width: 85%;
    border: 0;
    box-shadow: 2px 2px 2px 2px lightgrey;
}

    /* contatti */

.top-border {
    border-top: 2px solid lightgrey;
    cursor: pointer;
}

.top-border:hover {
    background-color: #E9EBEB;
}

.onContact {
    display: none;
}

.inContact {
    display: flex;
}

.flex-contact {
    display: flex;
    gap: 4rem;
}

.time-message {

}

.last-message {
    font-size: .9rem;
    color:darkslategray;
}

    /* chat bar */

.header-message-bar {
    background-color: #F3EEEA;
    width: 65%;
}

.name-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-message-bar {
    background-image: url(../img/mine.jpg);
    height: 790px;
    position: relative;
}

.auto-mex {
    margin: .2rem;
}

.messageSent{
    border-radius: 1rem;
    padding: .5rem;
    background-color: #d5f9ba;
    width: fit-content;
    max-width: 80%;
    margin: 0 1rem 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
}

.messageArrived {
    padding: .5rem;
    border-radius: 1rem;
    background-color: white;
    width: fit-content;
    position: relative;
    max-width: 80%;
    margin:auto 0 1rem;
    display: flex;
    flex-direction: column;
}

.footer-message-bar {
    background-color: #F3EEEA;
    padding: 1rem;
    width: 100%;
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2rem;
    color: lightgray;
}

.footer-message-bar input {
    background-color: white;
    width: 75%;
    font-size: 1rem;
    border: 0;
    border-radius: 1rem;
    padding: .5rem .2rem;
}