<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzap</title>
    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- my-style -->
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="main-background-container" id="app">
        <!-- colore di sfondo verde -->
        <div class="background-green"></div>
        <!-- colore di sfondo griggio chiaro -->
        <div class="background-lightGrey"></div>
        <!-- finestra di messaggi -->
        <div class="window-message">
            <div class="message-people">
                <!-- profilo utente -->
                <ul>
                    <li class="user-profile">
                        <div class="img-container-profile ">
                            <img src="img/avatar_2.jpg" alt="foto profilo" class="img-profile">
                            <span>Emanuele</span>
                        </div>
                        <div class="user-controls">
                            <i class="fa-solid fa-circle-notch"></i>
                            <i class="fa-solid fa-message"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </li>
                </ul>
                <!-- notifica desktop -->
                <div class="blue-notifications">
                    <i class="fa-solid fa-bell-slash mod-bell"></i>
                    <div class="notification-text">
                        <div>Ricevi notifiche di nuovi messaggi</div>
                        <div class="text-underline">Attiva notifiche desktop</div>
                    </div>
                </div>
                <!-- trova contatti -->
                <div class="search">
                    <i class="fa-solid fa-magnifying-glass mod-search"></i>
                    <input type="text" v-model="seachPeople" @keyup="searchContact()" placeholder="Cerca o inizia una nuova chat">
                </div>
                <!-- contatti -->
                <ul>
                    <li v-for="(contact, i) in contacts"
                    :key="contact.name"
                    class="user-profile top-border"
                    :class="contact.visible === false ? 'onContact' : 'inContact'"
                    @click="selectedContact(i)"
                    >
                        <div class="img-container-profile">
                            <img :src="contact.avatar" :alt="contact.name" class="img-profile">
                            <div>
                                <div class="time-message">{{ contact.messages[contact.messages.length - 1].date }}</div>
                                <div class="flex-contact">
                                    <div>{{ contact.name }}</div>
                                </div>
                                <div class="last-message">{{ contact.messages[contact.messages.length - 1].message }}</div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- chat bar -->
            <div class="header-message-bar">
                <ul>
                    <li class="user-profile">
                        <div class="img-container-profile ">
                            <img :src="contacts[contactOver].avatar" :alt="contacts[contactOver].name" class="img-profile">
                            <div class="name-profile">
                                <div>{{ contacts[contactOver].name }}</div>
                                <div class="chat-time-bar">Ultimo accesso oggi alle {{ contacts[contactOver].messages[contacts[contactOver].messages.length - 1].date }}</div>
                            </div>
                        </div>
                        <div class="user-controls">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <i class="fa-solid fa-paperclip"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </li>
                </ul>
                <div class="main-message-bar">
                    <div v-for="(mex, i) in contacts[contactOver].messages">
                        <ul :class="{messageSent: mex.status === 'sent', messageArrived: mex.status === 'received'}" >
                            <li 
                            class="auto-mex">
                            {{ mex.message }}
                            <span><i class="fa-solid fa-check check-over" @click="openMenu = !openMenu"></i></span>
                            <ul class="option-message" v-show="openMenu" v-show="!openMenu">
                                <li class="info-message">Info messaggio</li>
                                <li class="space-message"></li>
                                <li class="delete-message" @click="removeMex(i)">Cancella messaggio</li>
                            </ul>
                            <div class="time-message-bar">{{ mex.date }}</div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="footer-message-bar">
                    <i class="fa-regular fa-face-smile"></i>
                    <!-- area chat -->
                    <input type="text"
                     v-model="mexBar" 
                     @keyup.enter="sendMexBar()" 
                     placeholder="Scrivi un messaggio">
                    <!-- --------------------------- -->
                    <i class="fa-solid fa-microphone"></i>
                </div>
            </div>
        </div>
    </div>
    <!-- Luxon -->
    <script src="https://cdn.jsdelivr.net/npm/luxon@3.1.0/build/global/luxon.min.js"></script>
    <!-- Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.13/dist/vue.js"></script>
    <!-- my-js -->
    <script src="js/script.js"></script>
</body>
</html>